button{
margin:10px;

}

.plot{
background-color:white;
}

#waypointsOrganization{
    background-color:white;
    color:black;
    padding:30px;
}

#waypointsOrganization  p{
    color:black;
}


#waypointsOrganization  p{
    display: inline-block;
}

#add-rover-way{
    padding:20px;
}

.boolRow{
    padding: 30px;
}
.boolToggle {
  -webkit-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.boolToggle:before {
  content: "on off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.boolToggle:checked {
  background-color: #4CD964;
}

.boolToggle:checked:before {
  left: 32px;
}



body{
    background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;

}

h1,p,label,h3,h5,canvas{
    color:white;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
}


.map{
    margin-bottom:50px;
}


#addNew{
    padding:20px;
}


.chart{
    background-color:white;
}

h1{
text-align:center;
padding:10px;
}

.chart h1{
color:black;
}




  	#toggle{
			width:44px;
			height:20px;
			border-radius:10px;
			position:absolute;
			-webkit-appearance: none;
			position:absolute;
			top:50%;
			left:50%;
			margin:-9px 0 0 -22px;
			box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4);
			background: -webkit-linear-gradient(#c6c6c6,#e3e3e3);
		}
		#toggle:checked{
			background: -webkit-linear-gradient(#bfe09c,#c8eca0);
			box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
		}
		#toggle:before {
			content:"|||";
			letter-spacing:1px;
			color: rgba(0,0,0,.15);
			font-size:5px;
			font-weight:100;
			text-shadow:1px 1px 1px rgba(255,255,255,1);
			width:7px;
			height:7px;
			padding:5px;
			top:2px;
			left:3px;
			position:absolute;
			border-radius:40px;
			background: -webkit-linear-gradient(#ebebeb,#f1f1f1);
			box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.2),
						-1px 1px 2px rgba(0, 0, 0, 0.3),
						inset 1px 1px 1px #ffffff;
			-webkit-transition: all 1s;

		}
		#toggle:checked:before {
			left:27px;
			background:#f1f1f1;
		}
		#toggle:after {
			content:"";
			width:4px;
			height:4px;
			top:4px;
			right:-8px;
			position:absolute;
			border-radius:10px;
			background: -webkit-linear-gradient(#fcc4c5,#e12c2d);
			box-shadow: inset -1px -1px 4px #8d0808,
						inset 1px 1px 2px #bb1313;
		}
		#toggle:checked:after {
			background: -webkit-linear-gradient(#d8eec4,#5fa718);
			box-shadow: inset -1px -1px 4px #417f0b,
						inset 1px 1px 2px #5b9f1a;
		}
